@font-face {
   font-family: 'SF Pro Text'; 
   font-style: normal;
   font-weight: 300;
   src:
   local('SF Pro Text')
   url('fonts/SFProText-Light.woff2'), format('woff2'),
   url('fonts/SFProText-Light.woff'), format('woff'),
   url('fonts/SFProText-Light.ttf'), format('ttf'),
   url('fonts/SFProText-Light.eot'), format('eot'),
}

jhg